@*@{

    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}*@


@{
    var book = ViewData["Book"] as BookModel;
}





<section class="jumbotron text-center">
    <div class="container m-3">

        <h1 class="text-center">Welcome to Bit2Byte</h1>

        <p clss="lead text-muted">
            this is about bit2byte, and hello world
            
        </p>



    </div>

</section>



<div class="py-5 bg-light">
    <div class="container">

        <h3 class="h3"> Recent Activities </h3>


        <div class="row">


            <div class="col-md-4 d-block d-lg-flex">


                <div class="card mb-4 shadow-sm">

                    <svg class="bd-placeholder-mg card-img-top" width="100%"
                         height="224" xmlns="#" />

                    <div class="card-body">

                        <p class="card-text">
                            This section will be used to display
                            the short description of club's activity 
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" classs="btn btn-sm btn-outline-secondary">
                                    View details
                                </a>
                            </div>

                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-4 d-block d-lg-flex">


                <div class="card mb-4 shadow-sm">

                    <svg class="bd-placeholder-mg card-img-top" width="100%"
                         height="224" xmlns="#" />

                    <div class="card-body">

                        <p class="card-text">
                            This section will be used to display
                            the short description of club's activity
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" classs="btn btn-sm btn-outline-secondary">
                                    View details
                                </a>
                            </div>

                            <small class="text-muted">Date</small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-md-4 d-block d-lg-flex">


                <div class="card mb-4 shadow-sm">

                    <svg class="bd-placeholder-mg card-img-top" width="100%"
                         height="224" xmlns="#" />

                    <div class="card-body">

                        <p class="card-text">
                            This section will be used to display
                            the short description of club's activity
                        </p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="#" classs="btn btn-sm btn-outline-secondary">
                                    View details
                                </a>
                            </div>

                            <small class="text-muted">Author name</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
